body{
    margin: 0;
    padding: 0;
    background-color: rgb(226, 211, 211);
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(181, 174, 192, 0.822)), url(./images/children_main_background\ \(1\).jpg);
    background-position: top;
    background-size: 1500px 400px;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
img{
    width: 40%; 
    margin-top: -20px;
    margin-left: -80px;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.navbar-links{
    flex: 1;
    text-align: right;
    margin-top: -30px;
    word-spacing: 1ch;
}
.navbar-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
}
.navbar-links ul li a{
    color: rgb(233, 250, 2);
    text-decoration: none;
    font-weight: 500px;
    font-size: 15px;
}
.navbar-links ul li:hover{
    transition-duration: 0.5s;
    background-color: rgb(167, 180, 180);
    border-radius: 4px;
    text-decoration: none;
}
.navbar-links ul li .action:visited{

    color: rgb(21, 213, 219);
    background-color: aliceblue;}

.whoWeAre{
    margin-top: -400px;
}


.contactLinks nav ul li a{
    text-decoration: none;
    color: rgb(28, 28, 80);
    word-spacing: 4px;
}
.contactLinks nav ul li a:hover{
    padding: 7px;
    background-color: azure;
    border-radius: 5px;
    transition-duration: 0.5s;
}




.writeLink nav ul li a{
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.writeLink nav ul li a:hover{
    background-color: beige;
    border-radius: 5px;
    padding: 7px;
    transition-duration: 0.5s;
}






.lastBox{
    margin: 0px;
    padding: 0%;
    height: 150px;
    display: flex;
    padding: 100px;
    justify-content: space-between;
    background-color: skyblue;
    

}